<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="CasparCGPlayout.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p: %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p: %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.4.4.0" newVersion="6.4.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="OSCPort" value="5253"/>
    <add key="AMCPPort" value="5250"/>
    <add key="MySQLHostname" value="127.0.0.1"/>
    <add key="MySQLUser" value="casparcg"/>
    <add key="MySQLPass" value="c45p5rcg"/>
    <add key="MySQLDatabase" value="casparcg"/>
    <add key="SQLConnectionTimeout" value="5"/>
    <add key="NTPServer" value="pool.ntp.org"/>
    <add key="NTPPollInterval" value="1024000"/>
    <add key="SegueNotifier" value="20"/>
    <add key="VideoMixTime" value="25"/>
    <add key="Channel" value="0"/>
    <add key="DebugLevel" value="DEBUG"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PathToMedia" value="d:\casparcg\_media\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
