<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="ServerIP" value="127.0.0.1" />
  <add key="OSCPort" value="5253" />
  <add key="AMCPPort" value="5250" />
  <add key="MySQLHostname" value="bungle.andymace.co.uk" />
  <add key="MySQLUser" value="casparcg" />
  <add key="MySQLPass" value="c45p5rcg" />
  <add key="MySQLDatabase" value="casparcg" />
</configuration>